:root {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: "RUDA", "Catamaran", 'Open Sans';
    --gold-color: #B88940;
    --yellow-color: #FFBD59;
}

/* No estaba seguro de si debian hacerse responsive, asi que realicé el maquetado unicamente, tanto esta como el hack 5 y 6*/

hr{
    border: 4px solid #000;
    border-radius: 4px;
    width: 6%;
    margin-top: 100px;
}


main {
    padding: 0 40px;
}

header {
    text-align: center;
    letter-spacing: 5px;
}

h1 {
    line-height: 100px;
    font-family: "Ruda";
    font-weight: 900;
}

h2 {
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 900;
    
}


.sale {
    font-size: 8rem;
    letter-spacing: 20px;
    background: linear-gradient(130deg, var(--gold-color) 50%, #ecd092 100%);
    background-clip: text;
    color: transparent;
    animation: destello 2s ease infinite; 
    background-size: 200%; 
}



.discount {
    font-size: 3.5rem;
}

.description {
    font-family: "Catamaran";
    font-weight: 800;
    line-height: 100px;
    letter-spacing: 5px;
}
.products {
    position: relative;
    margin: 100px 0 200px;
}

.background {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    position: absolute;
    background: repeating-linear-gradient(to bottom,
    var(--yellow-color), 
    var(--yellow-color) 15%,
     #FFF 15%,
     #FFF 25%);
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    position: relative;
}

figure {
    font-family: "Catamaran";
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    margin: 0;
}

img {
    height: 500px;
    width: auto;
    margin-top: 52px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5)
}

img:hover{
    transform: scale(1.1)
}

footer {
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}

h3 {
    color: var(--gold-color);
    font-size: 3rem;
    font-family: "Ruda";
    font-weight: 900;
    letter-spacing: 8px;
    margin: 0;
    line-height: 70px;
}

p {
    font-family: "Catamaran";
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin: 0;
    line-height: 20px;
}

@keyframes destello {
    from { background-position: 200%; 
    } 
    to { background-position: 0; 
    } 
}
